* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    width: 100vw;
    height: 20vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    width: 100vw;
    height: 65vh;
    background-color: beige;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    width: 100vw;
    height: 15vh;
    /* this is overwritten */
    background-color: aliceblue;
    /* this is elected */
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-aside {
    display: inherit;
    align-items: center;
    height: 100%;
    width: 33%;
    justify-content: center;
}

.main-section {
    display: inherit;
    align-items: center;
    background-color: aquamarine;
    height: 100%;
    width: 33%;
    justify-content: center;
}