* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 20vh;
    min-height: 160px;
    background-color: #434f5f;
    color: #f4f5f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header:hover {
    background-color: #10386b;
}

.main {
    padding: 2rem 3.5rem;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.header-photo {
    padding: 0px 10px;
}

.header-personInfo {
    display: inherit;
    height: 100%;
    align-items: center;
    margin-left: 20px;
}

.header-personInfo__info {
    height: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}

.header-personInfo__photo {
    display: flex;
}

.header-personInfo__photo > img {
    height: 140px;
    width: auto;
    border-radius: 100%;
}

.header-personInfo__info-personal {
    text-align: end;
}

.header-personInfo__info-contact {
    color: #939ba4;
    font-size: medium;
}

.header-social > ul {
    padding: 0 10px;
    list-style-type: none;
    margin-right: 20px;
}

.header-social > ul > li > a {
    color: inherit;
    text-decoration: none;
}

.main-summary {
    text-align: justify;
}

.main-info {
    text-align: justify;
    width: 100%;
    display: flex;
    
}

.main-info__experience {
    width: 75%;
    padding: 10px 0;
    /* padding-right: 20px; */
}

.main-info__title {
    /* padding-left: 10px; */
    margin:15px 0;
}

.main-info__experience-list {
    padding: 20px;
}

.main-info__skills {
    /* width: 10%; */
    padding: 10px 5px;
    width: 25%;
}

.main-info__skills-new {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-info__skills-list {
    list-style: none;
}
.main-info__skills-item {
    padding-left: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.main-info__skills-item:hover > #skill-progress {
    height: 15px;
}

.main-info__skills-item:first-of-type {
    margin-top: 0.5rem;
}

/* bar progress config */
#skill-progress {
    width: 100%;
    height: 10px;
    border: none;
}

/* bar progress color */
#skill-progress::-webkit-progress-value {
    background: #434f5f;
}

/* background color */
#skill-progress::-webkit-progress-bar {
    background: #ededed;
}